li p{
    text-align: left;
    padding: 1px;
    width: 500px;
    height: 30px;
    margin-left: 400px;  
}
  #i{
    background-color:cyan;
    
}
  #o{
    background-color: pink;  
}
 ul li{
    list-style: none;
    
 }